<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SCRIPTER</title>
    <link rel="favicon" href="keyboard.ico">
</head>
<body>
    <div class="backcor" style="height: 100%;">
        <div id="navpar">
            <div id="nav">
                <%-include('nav.ejs') %>
            </div>
        </div>
        <div style="
        text-align: center;
        font-size: xx-large;
        color: white;
        font-weight: bold;
        border-top: 1px solid;
        padding-top: 50px;
    ">원하는 스크립트를 업로드 하세요!<br>SMI, SRT 자막 파일의 텍스트만 추출합니다!</div>
    <div style="text-align: center;"><a href="/login"><button class="button" style="filter: invert(100%);">스크립트 업로드하기</button></a></div>

        <div style="text-align: center;"><img src="in1.png" alt="" style="border: 5px solid #ffe1e2; width: 80%;box-sizing: border-box;"></div>
        <div style="
        text-align: center;
        font-size: xx-large;
        color: white;
        font-weight: bold;
        padding-top: 50px;
    ">추출된 대본을 원어와 비교하며 타이핑 할 수 있습니다!</div>
    <div style="text-align: center;"><a href="/login"><button class="button" style="filter: invert(100%);">스크립트 업로드하기</button></a></div>


        <div style="text-align: center;"><img src="in2.png" alt="" style="border: 5px solid #ffe1e2; width: 80%; box-sizing: border-box;"></div>
        <div style="
        text-align: center;
        font-size: xx-large;
        color: white;
        font-weight: bold;
        padding-top: 50px;
    ">스피킹을 위한 레이아웃도 준비되어 있습니다!</div>
    <div style="text-align: center;"><a href="/login"><button class="button" style="filter: invert(100%);">스크립트 업로드하기</button></a></div>


        <div style="text-align: center;"><img src="in3.png" alt="" style="border: 5px solid #ffe1e2; width: 80%;box-sizing: border-box;"></div>
    </div>
    
</body>
</html>